body {
  /*background-color: #00aea6;*/
  background-image: url("./images/bg.gif");
  background-size: 100%;
  color: rgb(74, 80, 84);
  font-family: 'Futura';
}

#temp-head {
  background-color: rgba(226, 227, 236, 0.3);
  border-radius: 50px;
  border: 0px;
  margin-top: 30px;
  width: 270px;
  height: 200px;
  align-content: center;
}

#temp {
  margin-left: 60px;
}

#analysis-head {
  background-color: rgba(226, 227, 236, 0.3);
  border-radius: 50px;
  border: 0px;
  margin-top: 30px;
  width: 270px;
  height: 330px;
  align-content: center;
}
#analysis {
  background-color: rgba(226, 227, 236);
  border-radius: 50px;
  border: 0px;
  width: 240px;
  height: 250px;
  align-content: center;
}

#conflag-head {
  background-color: rgba(226, 227, 236, 0.3);
  border-radius: 50px;
  border: 0px;
  margin-top: -10px;
  margin-left: 95px;
  width: 270px;
  height: 192px;
  align-content: center;
}

#conflag {
  margin-top: 0px;
  margin-left: 55px;
}

#time {
  background-color: rgba(226, 227, 236, 0.3);
  border-radius: 50px;
  border: 0px;
  margin-top: 20px;
  margin-left: 95px;
  width: 270px;
  height: 50px;
  align-content: center;
}

#opener {
  background-color: rgb(250, 167, 91);
  border-radius: 50px;
  border: 0px;
  margin-left: 175px;
  margin-top: 93px;
  color: white;
  font-size: 18px;
}

#distance-head {
  background-color: rgba(226, 227, 236, 0.3);
  border-radius: 50px;
  border: 0px;
  margin-top: -10px;
  margin-left: 95px;
  width: 270px;
  height: 155px;
  align-content: center;
}

#distance-style {
  margin-top: -30px;
  align-content: center;
  color: rgb(80, 125, 191);
}
/*#km {
  margin-top: -30px;
  align-content: center;
  font-size: 10px;
  color: rgb(74, 80, 84);
}*/

#rotate-head {
  background-color: rgba(226, 227, 236, 0.3);
  border-radius: 50px;
  border: 0px;
  margin-top: -10px;
  margin-left: 95px;
  width: 270px;
  height: 145px;
  align-content: center;
}

#rotate {
  margin-left: 80px;
  margin-top: -5px;
}

#ship {
  margin-top: 200px;
  margin-left: -5px;
}
